.container{
	position: fixed;

}

.tm{
	width: 90px;
	text-align: center;
	padding: 8px 0;
}

.button{
	margin: 6px 0;
	padding: 8px 8px;
	background-color: #f45b3e;
	border: none;

}

#timer{
	position: fixed;
	margin-top: 400px;
	color: #fff;
}